.options {
    background-color: #cbdce6 !important;
    font-weight: 500 !important;
    text-align: left !important;
}

.options:focus, .options:active {
    background-color: #e78230 !important;
    color: #ffffff !important;
    outline: 4px solid #cbdce6 !important;
    
}

.next {
    background-color: #73a89d !important;
    font-size: 28px !important;
    border: none !important;
}

.next:active {
    background-color: #5f8d84 !important;
    outline: none !important;
    box-shadow: none !important;
    padding-top: 5px !important;
}